.mypage-profile {
    margin-left: 305px;
}

.mypage-profile-image-inner {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
}

.mypage-profile-image {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    background-color: #c4c4c4;
}

.mypage-profile-name-inner {
    justify-content: space-between;
    align-items: center;
    display: inline-block
}

.mypage-profile-name {
    font-size: 45px;
    font-weight: bold;
    margin-left: 85px;
}

.edit-profile-button {
    padding: 10px 20px;
    background-color: #fff;
    color: #ff5353;
    border: solid 2px #ff5353;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
    width: 230px;
    height: 50px;  
    margin-left: 305px;
}

.mylist-item-tabs {
    display: flex;
    gap: 40px;
    margin: 20px 0px;
    border-bottom: 2px solid #a5a5a5;
    padding-left: 20px;
    height: 80px;
    align-items: flex-end;
}

.tab-sell-my-item {
    text-decoration: none;
    color: #a5a5a5;
    font-weight: bold;
    font-size: 23px;
    margin-left: 115px;
    padding-bottom: 15px;
}

.tab-buy-my-item {
    text-decoration: none;
    color: #a5a5a5;
    font-weight: bold;
    font-size:23px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.tab-sell-my-item.active {
    color: #ff5353;
}

.tab-buy-my-item.active {
    color: #ff5353;
}

.item-lists-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 10px;
    margin-left: 50px;
    margin-top: 40px;
}

.item-lists {
    width: 100%;
}

.item-card-link {
    text-decoration: none;
    color: inherit;
}

.item-card {
    width: 50px;
    height: 40px;
    padding-bottom: 350px;
}

.item-image {
    width: 50px;
}

.item-image-inner {
    width: 300px;
    height: 300px;
}

.item-name {
    width: 300px;
}

.item-name-label {
    font-size: 30px;
}

.sold-label {
    font-size: 30px;
    color: hsl(0, 100%, 50%);
    padding-left: 20px;
}