.register {
    max-width: 1220px;
    padding: 35px 15px;
    margin: 0 auto;
}

.register-heading {
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.register-form {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.register-group {
    margin-bottom: 15px;
    justify-content: space-between;
}

.register-name-label {
    font-size: 20px;
    font-weight: bold; 
    margin-right: 495px;
}

.register-email-label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 455px;
}

.register-password-label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 490px;
}

.register-password_confirmation-label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 430px;
}

.register-email-input,
.register-password-input,
.register-password_confirmation-input {
    width: 600px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px;
    margin-left: 150px;
    margin-bottom: 25px;
    margin-top: 10px;
    display: flex;
}

.register-name-error {
    color: hsl(0, 100%, 50%);
}

.register-email-error {
    color: hsl(0, 100%, 50%);
}

.register-password-error {
    color: hsl(0, 100%, 50%);
}

.register-password_confirmation-error {
    color: hsl(0, 100%, 50%);
}

.register-buttons {
    margin-top: 100px;
    width: 100%;
}

.register-button-submit {
    background-color: #ff5353;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 23px;
    font-weight: bold;
    width: 600px;
    height: 60px;
    margin-left: 10px;
}

.login-button-link {
    color: rgb(0, 153, 255);
    text-decoration: none;
    display: flex;
    margin-top: 30px;
    margin-left: 380px;
    font-size: 18px;
}